USE [master]
GO
/****** Object:  Database [MiniSistemaFacturacion]    Script Date: 7/4/2026 7:02:13 p. m. ******/
CREATE DATABASE [MiniSistemaFacturacion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniSistemaFacturacion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MiniSistemaFacturacion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiniSistemaFacturacion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MiniSistemaFacturacion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniSistemaFacturacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniSistemaFacturacion]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TotalPagosFactura]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 7. Crear Funciones
-- =====================================================

-- Función para calcular total de pagos de una factura
CREATE FUNCTION [dbo].[fn_TotalPagosFactura] (@ID_Factura INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TotalPagos DECIMAL(18,2);
    
    SELECT @TotalPagos = ISNULL(SUM(MontoPagado), 0)
    FROM Pagos
    WHERE ID_Factura = @ID_Factura AND Estado = 1;
    
    RETURN @TotalPagos;
END
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Cedula] [nvarchar](20) NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[Telefono] [nvarchar](25) NULL,
	[Email] [nvarchar](100) NULL,
	[FechaCreacion] [datetime] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[ID_Factura] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [nvarchar](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[ID_Cliente] [int] NOT NULL,
	[TotalBruto] [decimal](18, 2) NOT NULL,
	[PorcentajeImpuesto] [decimal](5, 2) NOT NULL,
	[ValorImpuesto] [decimal](18, 2) NOT NULL,
	[TotalNeto] [decimal](18, 2) NOT NULL,
	[SaldoPendiente] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_FacturasPendientes]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 6. Crear Vistas Útiles
-- =====================================================

-- Vista para facturas pendientes
CREATE VIEW [dbo].[v_FacturasPendientes]
AS
SELECT 
    f.ID_Factura,
    f.NumeroFactura,
    f.Fecha,
    c.Nombre AS NombreCliente,
    c.Cedula,
    f.TotalNeto,
    f.SaldoPendiente,
    f.Estado,
    DATEDIFF(day, f.Fecha, GETDATE()) AS DiasPendiente
FROM Facturas f
INNER JOIN Clientes c ON f.ID_Cliente = c.ID_Cliente
WHERE f.SaldoPendiente > 0 AND f.Estado != 'Anulada'
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Categoria] [nvarchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ProductosBajoStock]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para productos con bajo stock
CREATE VIEW [dbo].[v_ProductosBajoStock]
AS
SELECT 
    ID_Producto,
    Codigo,
    Descripcion,
    PrecioUnitario,
    Stock,
    StockMinimo,
    Categoria,
    CASE 
        WHEN Stock = 0 THEN 'Sin Stock'
        WHEN Stock < StockMinimo THEN 'Stock Crítico'
        ELSE 'Stock Normal'
    END AS EstadoStock
FROM Productos
WHERE Estado = 1 AND Stock <= StockMinimo
GO
/****** Object:  Table [dbo].[DetallesFactura]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesFactura](
	[ID_Detalle] [int] IDENTITY(1,1) NOT NULL,
	[ID_Factura] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitarioVenta] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[ID_Pago] [int] IDENTITY(1,1) NOT NULL,
	[ID_Factura] [int] NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[MontoPagado] [decimal](18, 2) NOT NULL,
	[FormaPago] [nvarchar](50) NOT NULL,
	[Referencia] [nvarchar](100) NULL,
	[Observaciones] [nvarchar](500) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_Cedula]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_Cedula] ON [dbo].[Clientes]
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clientes_Estado]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_Estado] ON [dbo].[Clientes]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_Nombre]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_Nombre] ON [dbo].[Clientes]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetallesFactura_ID_Factura]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DetallesFactura_ID_Factura] ON [dbo].[DetallesFactura]
(
	[ID_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetallesFactura_ID_Producto]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DetallesFactura_ID_Producto] ON [dbo].[DetallesFactura]
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Facturas_Estado]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Facturas_Estado] ON [dbo].[Facturas]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Facturas_Fecha]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Facturas_Fecha] ON [dbo].[Facturas]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Facturas_ID_Cliente]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Facturas_ID_Cliente] ON [dbo].[Facturas]
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Facturas_NumeroFactura]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Facturas_NumeroFactura] ON [dbo].[Facturas]
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Facturas_SaldoPendiente]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Facturas_SaldoPendiente] ON [dbo].[Facturas]
(
	[SaldoPendiente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pagos_FechaPago]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_FechaPago] ON [dbo].[Pagos]
(
	[FechaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pagos_FormaPago]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_FormaPago] ON [dbo].[Pagos]
(
	[FormaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pagos_ID_Factura]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_ID_Factura] ON [dbo].[Pagos]
(
	[ID_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Productos_Categoria]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Categoria] ON [dbo].[Productos]
(
	[Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Productos_Codigo]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Codigo] ON [dbo].[Productos]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Productos_Descripcion]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Descripcion] ON [dbo].[Productos]
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Estado]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Estado] ON [dbo].[Productos]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Stock]    Script Date: 7/4/2026 7:02:14 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Stock] ON [dbo].[Productos]
(
	[Stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [TotalBruto]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((15.00)) FOR [PorcentajeImpuesto]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [ValorImpuesto]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [TotalNeto]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [SaldoPendiente]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((5)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetallesFactura_Facturas] FOREIGN KEY([ID_Factura])
REFERENCES [dbo].[Facturas] ([ID_Factura])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallesFactura] CHECK CONSTRAINT [FK_DetallesFactura_Facturas]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetallesFactura_Productos] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Productos] ([ID_Producto])
GO
ALTER TABLE [dbo].[DetallesFactura] CHECK CONSTRAINT [FK_DetallesFactura_Productos]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([ID_Cliente])
REFERENCES [dbo].[Clientes] ([ID_Cliente])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Facturas] FOREIGN KEY([ID_Factura])
REFERENCES [dbo].[Facturas] ([ID_Factura])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Facturas]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD CHECK  (([PrecioUnitarioVenta]>(0)))
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD CHECK  (([Estado]='Anulada' OR [Estado]='Pagada' OR [Estado]='Parcial' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD CHECK  (([FormaPago]='Cheque' OR [FormaPago]='Transferencia' OR [FormaPago]='Tarjeta Debito' OR [FormaPago]='Tarjeta Credito' OR [FormaPago]='Efectivo'))
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD CHECK  (([MontoPagado]>(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([PrecioUnitario]>(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([StockMinimo]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearFactura]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para crear factura con detalles (transaccional)
CREATE PROCEDURE [dbo].[sp_CrearFactura]
    @NumeroFactura NVARCHAR(20),
    @ID_Cliente INT,
    @PorcentajeImpuesto DECIMAL(5,2) = 15.00,
    @Detalles NVARCHAR(MAX) -- JSON con los detalles de la factura
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @ID_Factura INT;
        DECLARE @TotalBruto DECIMAL(18,2) = 0;
        DECLARE @ValorImpuesto DECIMAL(18,2) = 0;
        DECLARE @TotalNeto DECIMAL(18,2) = 0;
        
        -- Insertar cabecera de factura
        INSERT INTO Facturas (NumeroFactura, ID_Cliente, PorcentajeImpuesto)
        VALUES (@NumeroFactura, @ID_Cliente, @PorcentajeImpuesto);
        
        SET @ID_Factura = SCOPE_IDENTITY();
        
        -- Procesar detalles (usando JSON parse si SQL Server 2016+, sino usar tabla temporal)
        -- Por ahora, implementación básica con parámetros separados
        
        -- Actualizar totales (se calcularán después de insertar detalles)
        
        COMMIT TRANSACTION;
        
        SELECT @ID_Factura AS ID_Factura;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 4. Crear Procedimientos Almacenados
-- =====================================================

-- Procedimiento para insertar cliente
CREATE PROCEDURE [dbo].[sp_InsertarCliente]
    @Nombre NVARCHAR(100),
    @Cedula NVARCHAR(20),
    @Direccion NVARCHAR(200) = NULL,
    @Telefono NVARCHAR(25) = NULL,
    @Email NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Clientes (Nombre, Cedula, Direccion, Telefono, Email)
    VALUES (@Nombre, @Cedula, @Direccion, @Telefono, @Email);
    
    SELECT SCOPE_IDENTITY() AS ID_Cliente;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProducto]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para insertar producto
CREATE PROCEDURE [dbo].[sp_InsertarProducto]
    @Codigo NVARCHAR(50),
    @Descripcion NVARCHAR(200),
    @PrecioUnitario DECIMAL(18,2),
    @Stock INT = 0,
    @StockMinimo INT = 5,
    @Categoria NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Productos (Codigo, Descripcion, PrecioUnitario, Stock, StockMinimo, Categoria)
    VALUES (@Codigo, @Descripcion, @PrecioUnitario, @Stock, @StockMinimo, @Categoria);
    
    SELECT SCOPE_IDENTITY() AS ID_Producto;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPago]    Script Date: 7/4/2026 7:02:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para registrar pago
CREATE PROCEDURE [dbo].[sp_RegistrarPago]
    @ID_Factura INT,
    @MontoPagado DECIMAL(18,2),
    @FormaPago NVARCHAR(50),
    @Referencia NVARCHAR(100) = NULL,
    @Observaciones NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @SaldoActual DECIMAL(18,2);
        DECLARE @NuevoSaldo DECIMAL(18,2);
        DECLARE @NuevoEstado NVARCHAR(20);
        
        -- Obtener saldo actual
        SELECT @SaldoActual = SaldoPendiente 
        FROM Facturas 
        WHERE ID_Factura = @ID_Factura;
        
        -- Validar que el monto no exceda el saldo
        IF @MontoPagado > @SaldoActual
        BEGIN
            RAISERROR('El monto del pago excede el saldo pendiente', 16, 1);
            RETURN;
        END
        
        -- Insertar pago
        INSERT INTO Pagos (ID_Factura, MontoPagado, FormaPago, Referencia, Observaciones)
        VALUES (@ID_Factura, @MontoPagado, @FormaPago, @Referencia, @Observaciones);
        
        -- Actualizar saldo pendiente
        SET @NuevoSaldo = @SaldoActual - @MontoPagado;
        
        -- Determinar nuevo estado
        IF @NuevoSaldo = 0
            SET @NuevoEstado = 'Pagada';
        ELSE IF @NuevoSaldo < @SaldoActual
            SET @NuevoEstado = 'Parcial';
        ELSE
            SET @NuevoEstado = 'Pendiente';
        
        UPDATE Facturas 
        SET SaldoPendiente = @NuevoSaldo,
            Estado = @NuevoEstado
        WHERE ID_Factura = @ID_Factura;
        
        COMMIT TRANSACTION;
        
        SELECT SCOPE_IDENTITY() AS ID_Pago, @NuevoSaldo AS NuevoSaldo, @NuevoEstado AS NuevoEstado;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        THROW;
    END CATCH
END
GO
USE [master]
GO
